# Airflow Environment Variables
AIRFLOW_UID={{ airflow_uid }}
AIRFLOW_PROJ_DIR={{ airflow_project_dir }}
GCP_PROJECT_ID={{ gcp_project_id }}
GCP_REGION={{ gcp_region }}
IMAGE_NAME={{ image_name }}
_AIRFLOW_WWW_USER_USERNAME={{ airflow_admin_username }}
_AIRFLOW_WWW_USER_PASSWORD={{ airflow_admin_password }}